# Sphinx documentation build output
docs/_build/
auto_examples

# Python bytecode and cache
__pycache__/
*.pyc

# Python virtual environment
venv/
.venv/
env/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / Editor specific
.idea/
.vscode/

# OS-specific
.DS_Store

# Notebook checkpoints
.ipynb_checkpoints

output
scratch

*.mp4
*.png